/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/home/aelgees/Projects/html/piduiteun/cghooks.lock
/home/aelgees/Projects/html/cbt-santri-asromo/cghooks.lock
